<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Thai Star</a>
    <button class="navbar-toggler"
            [class.collapsed]="!expanded"
            type="button"
            aria-controls="navbarNav"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="expanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="navbar-collapse"
         [ngClass]="{'collapse': !toggling, 'show': (expanded && !toggling), 'toggling': toggling}">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/bookings/tables">Tables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/bookings">Current Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/bookings/tables/book">New Booking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
